<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registration</title>
</head>
<body>
   <form action="login" method="POST">{% csrf_token %}
    Email:<br>
    <input type="email" name="email">
    <br> 
    Password:<br>
    <input type="password" name="password">
    <input type="submit" value="Login">
</body>
</html>