{% extends 'SEI/base.html' %}
{% block title %}
<title>Add Resource</title>
{% endblock %}
{% block head %}
<script>
   function showblock(menu){
     if(menu.selectedIndex==0){
       var employeeblock=document.getElementById("resource_employee")
       employeeblock.style.display='block'
       var resourceblock=document.getElementById("resource_other")
       resourceblock.style.display='none'
     }else{
       var employeeblock=document.getElementById("resource_employee")
       employeeblock.style.display='none'
       var resourceblock=document.getElementById("resource_other")
       resourceblock.style.display='block'
     }
   }
</script>
<script>
   $(function(){
     var pecount =  0;
     $(".add_other").click(function(e){
       e.preventDefault();
       pecount = pecount + 1;
       var total_other_forms = parseInt($('#id_otherexpense-TOTAL_FORMS').val()) + 1;
       $('#id_otherexpense-TOTAL_FORMS').val(total_other_forms);
         //clone the form charge string for new input and replace the name
         $("#other_table tr:last").clone(true).find("input, select, textarea").each(function() {
           name = replaceName(pecount, 'name');
           $(this).val('').attr('id', "id_" + name).attr('name', name);
         }).end().find("label").each(function() { 
           name = replaceName(pecount, 'for');
           $(this).val('').attr('for', name);
         }).end().appendTo("#other_table");
         var t = document.getElementById('other_table');
         console.log(t);
         var removeBtn = '<button id="remove_other' + (pecount - 1) + '" class="btn btn-danger remove_other" >-</button>';
         var removeButton = $(removeBtn);
         $( this ).replaceWith(removeButton);
         $("#pecount").val(pecount);  
         $('.remove_other').unbind().click(function(e){
           e.preventDefault();
           var fieldNum = this.id.charAt(this.id.length-1);
           $(this).closest('tr').remove();
           var total_forms = parseInt($('#id_otherexpense-TOTAL_FORMS').val()) - 1;
           $('#id_otherexpense-TOTAL_FORMS').val(total_forms);
         });
       });
   });
   
   /* not sure this is actually needed
   $(function(){
     var pecount =  0;
     $(".add_employee").click(function(e){
         e.preventDefault();
         pecount = pecount + 1;
         var total_other_forms = parseInt($('#id_otherexpense-TOTAL_FORMS').val()) + 1;
         $('#id_otherexpense-TOTAL_FORMS').val(total_other_forms);
         //clone the form charge string for new input and replace the name
         $("#other_table tr:last").clone(true).find("input").each(function() {
           name = replaceName(pecount, 'name');
         $(this).val('').attr('id', "id_" + name).attr('name', name);
           }).end().find("select").each(function() {
           name = replaceName(pecount, 'name');
         $(this).val('').attr('id', "id_" + name).attr('name', name);
           }).end().find("textarea").each(function() {
           name = replaceName(pecount, 'name');
         $(this).val('').attr('id', "id_" + name).attr('name', name);
           }).end().find("label").each(function() { 
           name = replaceName(pecount, 'for');
             $(this).val('').attr('for', name);
           }).end().appendTo("#other_table");
         var t = document.getElementById('other_table');
         console.log(t);
         var removeBtn = '<button id="remove_other' + (pecount - 1) + '" class="btn btn-danger remove_other" >-</button>';
         var removeButton = $(removeBtn);
         $( this ).replaceWith(removeButton);
         $("#pecount").val(pecount);  
             $('.remove_other').unbind().click(function(e){
                 e.preventDefault();
                 var fieldNum = this.id.charAt(this.id.length-1);
                 $(this).closest('tr').remove();
                 var total_forms = parseInt($('#id_otherexpense-TOTAL_FORMS').val()) - 1;
                 $('#id_otherexpense-TOTAL_FORMS').val(total_forms);
             });
     });
   });
   */
   
   function replaceName(count, tag){
   idArray = $(this).attr(tag).split("-");
   name = $(this).attr(tag).replace(idArray[1], count);
   return name;
   }
</script>
{% endblock %}
{% block content %}
<div class="row" align="center">
   <div class="container">
    <h2>Add Resources</h2>
      <form action="{% url 'addResources' project.PWP_num project_year project_month %}" method="POST">
         <div class="form-group">
            <label for="resource" class="col-md-12 control-label"><h4>Select Resource:</h4></label>
            <div class="col-md-4 col-md-offset-4">
            </div>
            <select id="resource" class="form-control" onchange="showblock(this)">
               <option>Employee</option>
               <option>Other</option>
            </select>
         </div>
         <div id="resource_employee" style="display:block">
          <label for="resource" class="col-md-12 control-label">Add Employees:</label>
          <div class="form-group">
           {{ employeeexpense.management_form }}
           <table id='employee_table' class="table table-striped">
            <thead>
              <th>Include</th>
              <th>Employee</th>
              <th>Time Allocated</th>
              <th>External?</th>
              <th>Internal Salary</th>
              <th>External Salary</th>
            </thead>
            {% for empexp in employeeexpense %}
            <tr>
              <td><input type="checkbox" name="includeEmp"></td>
              <td style="display:none">{{empexp.employee}}</td>
              <td>{{ empexp.employee_name}}</td>
              <td>{{ empexp.time_use }}</td>
              <td>{{ empexp.isExternal }}</td>
              <td>{{ empexp.internal_salary}}</td>
              <td>{{ empexp.external_salary}}</td>
            </tr>

            {% endfor %}
          </table>
          <button type="submit" class="btn btn-lg btn-primary btn-block project ">Save</button>
        </div>
      </div>
         <div id="resource_other" style="display:none">
            <label for="resource" class="col-md-12 control-label">Add Resouces:</label>
            <div class="col-md-12">
               {{ otherexpense.management_form }}
               <table id='other_table' class="table table-striped">
                  <thead>
                     <th>Category</th>
                     <th>Cost</th>
                     <th>Description</th>
                  </thead>
                  {% for othexp in otherexpense %}
                  <tr>
                     <td>{{ othexp.category }}</td>
                     <td>{{ othexp.cost }}</td>
                     <td>{{ othexp.expense_description }}</td>
                     <td><button id="add_other" class="btn add_other" type="button">+</button></td>
                  </tr>
                  {% endfor %}
               </table>
               <div class="col-md-12">
                  <button type="submit" class="btn btn-lg btn-primary btn-block project ">Save</button>
               </div>
               {% csrf_token %}
      </form>
   </div>
</div>
<input type="hidden" name="eecount" value="1" />
<input type="hidden" name="pecount" value="1" />
{% endblock %}