{% extends 'SEI/base.html' %}
{% block title %}
<title>Employee Allocation Overview</title>
{% endblock %}
{% block head %}
<!-- Flot Charts JavaScript -->
<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% load static %}
<!-- /#wrapper -->
<script src="{% static "js/employee.js" %}"></script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.resize.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.pie.js" %}"></script>
<!-- For allocation chart -->
<script src="{% static "vendors/moment/moment-with-locales.min.js" %}"></script>
<script src="{% static "vendors/d3/d3.min.js" %}"></script>
<script src="{% static "js/visavail.js" %}"></script>
<link rel="stylesheet" href="{% static "css/visavail.css" %}">
{% endblock %}
{% block content %}
<div class="row">
   <div id="custom-search-input">
      <div class="input-group col-md-12">
         <input id="search_input" type="text" class="search-query form-control" value="" placeholder="Search with Employee Name" />
         <span class="input-group-btn">
            <button id="search_btn" class="btn btn-danger" type="button">
               <span class=" glyphicon glyphicon-search"></span>
            </button>
         </span>
      </div>
   </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select the Employee</h4>
         </div>
         <div class="modal-body">
            <ul class="list-group" id="employee_list">
            </ul>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Page Heading -->
<div class="row"  style="display:none" id="header">
   <div class="col-lg-12">
      <h1 class="page-header" >
         Employee <small id="employee_name"></small>
         <input id="first_name" type="hidden" value="{{employee.first_name}}"/>
         <input id="last_name" type="hidden" value="{{employee.last_name}}">
         <input id="employee_id" type="hidden" value="{{employee.id}}"/>
      </h1>
   </div>
</div>
<div class="row">
   <div class="col-lg-6" id="donut_chart" style="display: none">
      <div class="panel panel-yellow">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>Current Month Summary</h3>
         </div>
         <div class="panel-body">
            <div id="morris-donut-chart"></div>
         </div>
      </div>
   </div>
   <div class="col-lg-6" id="line_chart" style="display: none">
      <div class="panel panel-red">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Trends</h3>
         </div>
         <div class="panel-body">
            <div id="morris-line-chart"></div>
         </div>
      </div>
   </div>
</div>
<div class="row" id="project_allocation_chart" style="display: none">
   <div class="col-lg-12">
      <div class="panel panel-green">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Project Time Allocation</h3>
         </div>
         <div class="panel-body">
            <div id="visavailchart"></div>
         </div>
      </div>
   </div>
</div>
<div class="row" id="reporting" style="display: none">
   <div class="col-lg-12">
   <div class="panel panel-default">
       <div class="panel-heading">
         Reporting
      </div>
      <div class="panel-body">
         <form id="reportform" action="#" method="POST">
            {% csrf_token %}
            {{ report.as_table }}
            <input id="submit" type="submit" value="Submit">
         </form>         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}