{% extends 'SEI/base.html' %}
{% block title %}
<title>Employee Allocation Overview</title>
{% endblock %}
{% block head %}
<!-- Flot Charts JavaScript -->
<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
{% load static %}
<!-- /#wrapper -->
<script src="{% static "js/employee.js" %}"></script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.resize.js" %}"></script>
<script src="{% static "js/plugins/flot/jquery.flot.pie.js" %}"></script>
<!-- For allocation chart -->
<script src="{% static "vendors/moment/moment-with-locales.min.js" %}" type="text/javascript"></script>
<script src="{% static "vendors/d3/d3.min.js" %}" charset="utf-8"></script>
<script src="{% static "js/visavail.js" %}" charset="utf-8"></script>{% endblock %}
{% block content %}
<div class="row">
   <div id="custom-search-input">
      <div class="input-group col-md-12">
         <input id="search_input" type="text" class="search-query form-control" value="" placeholder="Search with Employee Name" />
         <span class="input-group-btn">
         <button id="search_btn" class="btn btn-danger" type="button">
         <span class=" glyphicon glyphicon-search"></span>
         </button>
         </span>
      </div>
   </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select the Employee</h4>
         </div>
         <div class="modal-body">
            <ul class="list-group" id="employee_list">
            </ul>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Page Heading -->
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header" id="header" style="display:none">
         Employee <small id="employee_name"></small>
      </h1>
   </div>
</div>
<div class="row">
   <div class="col-lg-6" id="donut_chart" style="display: none">
      <div class="panel panel-yellow">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>Current Month Summary</h3>
         </div>
         <div class="panel-body">
            <div id="morris-donut-chart"></div>
         </div>
      </div>
   </div>
   <div class="col-lg-6" id="line_chart" style="display: none">
      <div class="panel panel-red">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Trends</h3>
         </div>
         <div class="panel-body">
            <div id="morris-line-chart"></div>
         </div>
      </div>
   </div>
</div>
<!-- /.row -->
<!-- <div class="row">
   <div class="col-lg-12" id="line_chart" style="display:none">
      <div class="panel panel-green">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Resource Allocation</h3>
         </div>
         <div class="panel-body">
            <div id="morris-area-chart"></div>
         </div>
      </div>
   </div>
</div> -->
<!-- /.row -->
                <div class="row" id="resource_chart" style="display: none">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Resources Allocation</h3>
                            </div>
                            <div class="panel-body">
  <div id="visavailchart"></div>
                  </div>
<script>
    // draw Visavail.js chart
    var chart = visavailChart().width(800);
    //dataset=[];
    if (dataset != null && dataset.length > 0){
    d3.select("#visavailchart")
            .datum(dataset)
            .call(chart);
            }
</script>

                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
{% block scripts %}
{% endblock %}