<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registration</title>
</head>
<body>
    <div class="container">
	{% if form.errors %}
	<p class="errors">
	Incorrect user name and password.
	</p>
	{% endif %}
      <form class="form-signin" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">Log in here</h2>
		<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
		</table>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in"><br>
		{% csrf_token %}
      </form>
    </div> 
    <div class="container">
      <form class="form-signin" action="{% url 'register' %}" >
      	<h4 class="form-signin-heading">New to SEI?</h4>
      	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create a new account">
      </form>
    </div>
  </body>
</html>