<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      {% load static %}
      <link rel="stylesheet" href="{% static "css/SEIRM.css" %}">
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %">
      <title>Login</title>
   </head>
   <body>
      <div class="container">
          <div class="col-md-4 col-md-offset-4">
               <form class="form-field" action="#" method="post">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Login</h2>
                    {% for field in form.visible_fields %}
                    <div class = "">
                       {{field}}
                    </div>
                    {% endfor %}
                    <br>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
              </form>
              {% for error in form.non_field_errors %}
              <p class="error">
                 {{error}}
              </p>
              {% endfor %}
          </div>
      </div>
   </body>
</html>