<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Profile</title>
  </head>
<body>
<div class="container">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Project View</h3>
              </div>
              <div class="panel-body">
                <div>
                  <ul class="list-group">
                  <li class="list-group-item">Project Number: {{ project.PWP_num }}</li>
                  <li class="list-group-item">Project Description: {{  project.project_description }}</li>
				  <li class="list-group-item">Project start_date: {{  project.start_date }}</li>
				  <li class="list-group-item">Project end_date: {{  project.end_date }}</li>
				  <li class="list-group-item">Internal Project: {{  project.is_internal }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
</div>
</body>
</html>