{% extends 'SEI/base.html' %}
{% block title %}<title>Team Allocation Overview</title>{% endblock %}
{% block head %}
    <!-- scripts go here when we add the chart -->
{% endblock %}

{% block content %}
                <div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" placeholder="Search with Team Name" />
                                <span class="input-group-btn">
                                    <button id="search_btn" class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
    </div>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Team <small>Overview</small>
                        </h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i>Team Details</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <p class="list-group-item">
                                        <span >Team Name:</span>
                                        <span >{{ team.team_name }}</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span >Manager:</span>
                                        <span >{{ team.manager }}</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span >Directorate:</span>
                                        <span >{{ team.directorate }}</span>
                                    </p>
                                    <p class="list-group-item">
                                        <span >Division:</span>
                                        <span >{{ team.division }}</span> 
                                    </p>
                            </div>
                            </div>
                            </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i>Projects</h3>
                            </div>
                            <div class="panel-body">
                                    <table class="table">
                                      <tr>
                                        <th>PWP Number</th>
                                        <th>Project Description</th>
                                        <!-- Project Burn is the Budget Overview Variance -->
                                        <th>Projected Burn(Over/Under)</th>
                                      </tr>
                                    {% for project in projects  %}
                                      <tr>
                                        <td><a href="{% url 'employeeview' project.PWP_num %}">
                                        {{ project.PWP_num }}</a></td>
                                        <td>{{ project.project_description }}</td>
                                        <td>{{ project.project_budget }} - {{ project.project_spending }}</td>
										</tr>
									{% endfor %}
                                    </table>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-info-circle fa-fw"></i>Employees</h3>
                            </div>
                            <div class="panel-body">
                                    <table class="table">
                                      <tr>
                                        <th>Employee Name</th>
                                        <th>Employee ID</th>
                                        <!-- Project Burn is the Budget Overview Variance -->
                                        <th>Current Month Allocation</th>
                                      </tr>
                                      {% for employee in employees  %}
                                      <tr>
                                        <td><a href="{% url 'employee' employee.employee_id %}">{{ employee.employee_id }}</a></td>
                                        <td>{{ employee.first_name }}  {{ employee.last_name }}</td>
										{% comment %}
                                        <td>{{ employee.allocation }}</td>
										{% endcomment %}
                                    </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}


        {% block scripts %}

        {% endblock %}